p {
  color: green;
}

.grid_div {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
}

.thumbnail {
  width: 100%;
}

.stat_bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: violet;

  margin-top: 5px;
  margin-bottom: 5px;
}

.stat {
  text-align: center;
}
